.quiz-report
  %p.quiz-report-heading
    퀴즈 결과
  %p.quiz-report-heading-title
    -if @correct_count == 7
      대단해! 7문제 모두 다 맞췄어!
    -else
      7문제 중 #{@correct_count}개 맞췄어!
  %p.quiz-report-heading-description
    친구들에게도 퀴즈를 추천해봐
  %ul.share-box.list-inline
    - data = {action: 'bubble-share', 'share-url': seo_report_quiz_url_with_correct_count(@correct_count), 'share-text': "'바글시민 와글입법' 시민입법프로젝트 정당 만들기. GMO완전표시제 입법을 위한 ‘나는 알아야겠당' 당원가입하고 OX퀴즈 풀자!" }
    - %w(facebook twitter kakao-link kakao-story).each do |provider|

      - data = data.merge('share-provider': provider)

      - if provider == 'kakao-link'
        - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
        - data = data.merge('share-image': image_url("step2/quiz-correct-count-#{@correct_count}.png"), 'share-image-width': '1200', 'share-image-height': '630')
      - if provider == 'twitter'
        - data = data.merge('share-text': "#GMO완전표시제 #나는알아야겠당 OX퀴즈, 난 7개 중 #{@correct_count}개 맞췄다! 당원가입하고 OX퀴즈 풀기 - #바글시민와글입법 - 한겨레21x빠띠 @han21_editor @parti_xyz", 'share-url': root_url)
      %li.share-item{class: "share-#{provider}#{hide_kakao_link}", data: data }
        - if provider == 'kakao-story'
          = image_tag 'icon_kas.png', class: 'icon-kas'
        - if provider == 'kakao-link'
          = image_tag 'icon_katalk.png', class: 'icon-katalk'
  = link_to '다시하기', quiz_path(step: 1), class: 'quiz-restart',remote: true
