.debate-bar{style: ("background-color:$brand-gray-color" if debate.total_count == 0)}
  - total_count = debate.total_count
  .debate-voted{style: "width: #{debate.alpha_percentage}%"}
  .selected-group
    %span.selected-alpha
      #{debate.alpha_count}표
    %span.selected-alpha-percentage
      #{debate.alpha_percentage}%

    %span.selected-beta
      #{debate.beta_count}표
    %span.selected-beta-percentage.pull-right
      #{debate.beta_percentage}%
.debate-options
  = link_to debate.alpha_label, choose_alpha_debates_path(slug: debate.slug), class:"option-alpha-button btn #{'active' if alpha_chosen?(debate.slug)}", method: :post, remote: true
  = link_to debate.beta_label, choose_beta_debates_path(slug: debate.slug), class:"option-beta-button btn #{'active' if beta_chosen?(debate.slug)}", method: :post, remote: true
  .option-hold-button
    = link_to '모르겠다', choose_hold_debates_path(slug: debate.slug), class:"option-hold-button btn #{'active' if hold_chosen?(debate.slug)}", method: :post, remote: true
- unless chosen?(debate.slug)
  .before-option-select
