.opinion
  - if browser.device.mobile?
    .row
      -if opinion.debate_slug == 'overall_adoption'
        %span.opinion__choice{class: "select_#{opinion.choice}" }
          .col-md-1
            .square
        .col-md-2
          - choice = '단계적 시행' if opinion.choice == 'alpha'
          - choice = '전면적 시행' if opinion.choice == 'beta'
          - choice = '모르겠습니다' if opinion.choice == 'hold'
          = choice
      -if opinion.debate_slug == 'non_gmo'
        %span.opinion__choice{class: "select_#{opinion.choice}" }
          .col-md-1
            .square
        .col-md-2
          - choice = '표시 할 필요 없다.' if opinion.choice == 'alpha'
          - choice = '표시를 허용해야 한다' if opinion.choice == 'beta'
          - choice = '모르겠습니다' if opinion.choice == 'hold'
          = choice
      -if opinion.debate_slug == 'exemption_range'
        %span.opinion__choice{class: "select_#{opinion.choice}" }
          .col-md-1
            .square
        .col-md-2
          - choice = '0%' if opinion.choice == 'alpha'
          - choice = '0.9%' if opinion.choice == 'beta'
          - choice = '모르겠습니다' if opinion.choice == 'hold'
          = choice
    .row
      .col-md-9
        %span.opinion__body
          = opinion.body
        %br
        %span.opinion__name
          = opinion.name
        %span.opinion__date
          = date_f opinion.created_at
  - else
    .row
      -if opinion.debate_slug == 'overall_adoption'
        %span.opinion__choice{class: "select_#{opinion.choice}" }
          .col-md-1
            .square
        .col-md-2
          - choice = '단계적 시행' if opinion.choice == 'alpha'
          - choice = '전면적 시행' if opinion.choice == 'beta'
          - choice = '모르겠습니다' if opinion.choice == 'hold'
          = choice
      -if opinion.debate_slug == 'non_gmo'
        %span.opinion__choice{class: "select_#{opinion.choice}" }
          .col-md-1
            .square
        .col-md-2
          - choice = '표시 할 필요 없다.' if opinion.choice == 'alpha'
          - choice = '표시를 허용해야 한다' if opinion.choice == 'beta'
          - choice = '모르겠습니다' if opinion.choice == 'hold'
          = choice
      -if opinion.debate_slug == 'exemption_range'
        %span.opinion__choice{class: "select_#{opinion.choice}" }
          .col-md-1
            .square
        .col-md-2
          - choice = '0%' if opinion.choice == 'alpha'
          - choice = '0.9%' if opinion.choice == 'beta'
          - choice = '모르겠습니다' if opinion.choice == 'hold'
          = choice
      .col-md-9
        %span.opinion__body
          = opinion.body
        %br
        %span.opinion__name
          = opinion.name
        %span.opinion__date
          = date_f opinion.created_at
