.opinion
  .opinion__choice{class: "select_#{opinion.choice} opinion__choice--#{opinion.debate_slug}" }
    %span.flag
    = opinion.debate.send("#{opinion.choice}_label")
  .opinion__body
    = opinion.body
    .opinion__meta
      %span.opinion__name
        = opinion.name
      %span.opinion__date
        = date_f opinion.created_at
