%section#propositions
  .container
    .propositions-panel
      %p.page-description
        GMO완전표시제법 발의안입니다. 시민이 올린 법안이 어떻게 진행되고 있는지 확인하고 각 발의안에 의견을 내고 참여해 보세요.
      %ul.nav.nav-tabs.propositions-tabs
        - Proposition.order_by_importance.each do |proposition|
          %li{class: ('active' if proposition == @proposition)}
            = link_to proposition_path(slug: proposition.slug) do
              = image_tag "proposition_proponent_#{proposition.slug}#{'_active' if proposition == @proposition}.png"
              %span.proponent= proposition.proponent
              의원
      .proposition
        .body-panel
          .panel-title 제안이유 및 주요내용
          .body
            = render "propositions/body_#{@proposition.slug}"
          .show-more
            %a.btn.btn-primary(href="http://watch.peoplepower21.org/?mid=LawInfo&bill_no=#{@proposition.slug}" target="_blank")
              발의안 상세보기
        %a.anchor#comments
        .comments-panel
          .panel-title 의견 (#{@proposition_comments.count})
          = render 'comments/form', commentable: @proposition
          .comments
            = render @proposition_comments
          = paginate @proposition_comments, params: { anchor: 'comments' }
        .steps-panel
          .panel-title 입법진행과정
          .steps
            %p 이미지로 대체합니다.
