%section#join
  .container
    .join-panel
      %p.page-description.hidden-xs
        - if user_signed_in?
          #{current_user.name} 당원님, 어서오세요!
        - else
          지금도 늦지 않았습니다. 시민 입법 프로젝트, GMO완전표시제법 추진에 공감하신다면 ‘나는 알아야겠당' 당원이 되어 보세요.
      - if user_signed_in?
        .join-after
          %p.join-after-description
            나는
            %span.important
              GMO완전표시제
            도입을 위해 뭉친
            %span
              %span.important<>
                #{number_with_delimiter(current_user.sequential_id)}번째 당원
              입니다.
          %p.join-after-description
            현재
            %span
              %span.important<>
                총 #{number_with_delimiter(User.count)}명
              이 모였습니다.
          %p.join-after-description
            친구에게 공유해 보세요!
          .join-share-wrapper
            .list-inline.join-share
              - base_data = {action: 'bubble-share', 'share-url': root_url, 'share-text': meta_tags['description'] }
              - %w(facebook twitter kakao-link kakao-story).each do |provider|

                - data = base_data.merge('share-provider': provider)

                - if provider == 'facebook'
                  - data = data.merge('share-logo': asset_url('share-fake.png'), 'share-css': 'join-share__facebook')
                - if provider == 'twitter'
                  - data = data.merge('share-text': "유쾌하고 진지한 정치실험! #GMO완전표시제 입법을 위한 프로젝트정당, #나는알아야겠당 창당파티 한겨레21x빠띠 @han21_editor @parti_xyz", 'share-logo': asset_url('share-fake.png'), 'share-css': 'join-share__twitter')
                - if provider == 'kakao-link'
                  - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
                  - data = data.merge('share-image': meta_tags['image'], 'share-image-width': '1200', 'share-image-height': '630', 'share-logo': asset_url('share-fake.png'), 'share-css': 'join-share__kakao')
                %li.share-item{class: "share-#{provider}#{hide_kakao_link}", data: data }
                  - if provider == 'kakao-story'
                    .jssocials-shares
                      .join-share__kas.jssocials-share
                        = image_tag 'share-fake.png', class: 'jssocials-share-logo'
                  - if provider == 'kakao-link'
                    .jssocials-shares
                      .join-share__kakao.jssocials-share
                        = image_tag 'share-fake.png', class: 'jssocials-share-logo'
      - else
        .join-before
          %p.join-before__title
            #{number_with_delimiter(User.count + 1)}번째 당원이 되어주세요!
          = link_to user_omniauth_authorize_path(provider: :facebook, redirect_to: params[:redirect_to]), class: 'join-before__button join-before__button--facebook' do
            .icon-image.icon-image__facebook
            페이스북으로 가입하기 / 로그인
          = link_to user_omniauth_authorize_path(provider: :twitter), class: 'join-before__button join-before__button--twitter' do
            .icon-image.icon-image__twitter
            트위터로 가입하기 / 로그인
          = link_to user_omniauth_authorize_path(provider: :naver), class: 'join-before__button join-before__button--naver' do
            .icon-image.icon-image__naver
            네이버로 가입하기 / 로그인
          %p.join-before__closing
            올해 연말, 프로젝트가 끝나는 시점에 모든 정보는 삭제됩니다.

      .join-benefit
        %p.join-benefit__title
          당원혜택
        %p.join-benefit__content
          소식지로 프로젝트 진행 상황을 파악할 수 있고, 기자와 함께 국회 상임위원회 회의나 공청회 등 취재, 지면을 통해 직접 목소리 내기, <한겨레21> 1개원 무료 구독권까지 드려요.
          %br
          무엇보다, 법안을 할 수 있는 데까지 밀어붙이기 위해 얼마든지 당원 활동을 제안하거나 온라인 정당 프로젝트 기술 기여도 열려 있습니다. 시민, 언론, 온라인 민주주의를 꿈꾸는 IT 개발자에게도 첫 시도인 이 도전에 함께해 주세요.
