%p #{@to_name} 의원님! 안녕하세요.

%p
  %span<>
    %a(href='http://up.parti.xyz') GMO 완전표시제 도입을 바라는 온라인 프로젝트 정당 ‘나는 알아야겠당’
    의
  %span
    = @from_name
    당원이 보내는 메일입니다.

%div{ style: 'padding: 28px; font-size: 16px; background-color: #f5f5f5; margin: 28px 0;'}
  %p
    이 편지는 한국에서 최초로 시작됐고, 의원님께 ‘행운’을 드리고자 전달 드립니다. 의원님께서 한국 시민들의 ‘알 권리’를 위해 앞장설 수 있는 행운입니다. 이 편지에 적힌 내용은 2016년이 지나기 전에 국회 보건복지위원회 전체 회의에서 논의되어야 합니다.
  %p
    혹 미신이라 하실지 모르겠지만 사실입니다. ‘우리가 먹는 음식에 GMO가 들어갔는지 아닌지 알아야겠다’, ‘간장, 식용유, 과자, 라면, 참치통조림, 아이스크림, 음료수 등에 GMO를 재료로 썼는지 아닌지 알 수 있도록 표시를 하자’는 열망이 모여 ‘나는알아야겠당’이 탄생했습니다. 온라인 프로젝트 정당 ‘나는알아야겠당’은 시민들의 ‘알 권리’, ‘선택할 권리’를 가장 중하게 여기는 행운덩어리입니다.
  %p
    GMO 정보가 너무나 부족하기 때문에 우리는 다른 이유를 모두 차치하더라도 불안합니다. 이 불안을 방치하면 어떻게 될까요? 더욱 더 많은 소문을 낳고 그 소문은 음모론을 조장할 것이고 결국 시민들의 불안을 넘어 식품산업 전체에 부정적인 영향을 줄 것은 불 보듯 뻔 한 일입니다.
  %p
    나는알아야겠당은 GMO완전표시제가 이런 상황을 바꿀 수 있다고 생각합니다. 시민들이 알고 선택하고 알고 먹을 수 있도록 GMO 농축수산물 등을 원재료로 사용한 식품은 이유여하를 불문하고 GMO 식품임을 표시토록 하는 것입니다. 너무 간단합니다.
  %p
    그리고 지금 해결의 열쇠가 의원님의 손에 쥐어져 있습니다.
  %p
    곧 열릴 보건복지위원회 내 법안심사소위원회에서 2016년에 논의할 법안을 결정하시죠? GMO완전표시제법(식품위생법 개정안)을 우선 순위로 올리십시오. GMO 식품에 대한 정보를 우리가 손쉽게 알 수 있고 이로 인해 오래된 우리의 불안이 해소될 수 있도록, 표시제도 개선방안에 대한 국회 논의가 하루빨리 시작되어야 합니다.
  %p
    의원님께서 시민들에 의해 쥐게 된 열쇠를, 시민들을 위해 사용하시길 바랍니다.
  %p
    #{Date.current.strftime("%Y. %-m. %-d") }
  %p
    GMO 완전표시제 도입을 바라는
    %br
    나는알아야겠당원 #{@from_name} 드림


%div(style="margin-top: 60px;")
  %table
    %tr
      %td
        %a(href='http://up.parti.xyz')
          %img(src="#{Rails.application.config.action_mailer.asset_host}/email_logo.png" width="104" height="70")
      %td(style="padding-left: 12px;")
        %a(href='up.parti.xyz' style='color: #777; text-decoration: none;')
          'GMO 완전표시제법' 국회 통과를 목적으로 창당한 온라인 프로젝트 정당
          %br
          %strong '나는 알아야겠당'
          http://up.parti.xyz


