#debate-topic-overall_adoption.debate-topic
  %p.debate-topic-title
    GMO완전표시제법 쟁점-1
  %p.debate-topic-subtitle
    GMO 완전표시제 시행 시기는?
  %p.debate-topic-options
    단계적 시행 vs 전면적 시행
  .debate-panel.debate-name-overall_adoption
    .debate-panel--header
      = render 'opinions/header', debate: @overall_adoption_debate
    = render 'opinions/form', debate: @overall_adoption_debate
    .debate-panel--opinions
      = render 'opinions/page', debate: @overall_adoption_debate

#debate-topic-non_gmo.debate-topic
  %p.debate-topic-title
    GMO완전표시제법 쟁점-2
  %p.debate-topic-subtitle
    GMO 표시 대상이 아닌 국내산 농산물에
    %br.hidden-xs
    Non-GMO(비GMO)라 표시해야 할까?
  %p.debate-topic-options
    표시 안 해도 된다 vs 표시해야 한다
  %p.debate-topic-description
    현재 Non-GMO 표시에 대해선 별도 규정이 없음. 식품의약품안전처는 국내 식용으로 유통되는 콩(대두)·옥수수·사탕무·카놀라(유채)·면화·알파파 등 6개 농산물에 대해서만 Non-GMO 표시를 허용하는 고시를 추진 중.
  .debate-panel.debate-name-non_gmo
    .debate-panel--header
      = render 'opinions/header', debate: @non_gmo_debate
    = render 'opinions/form', debate: @non_gmo_debate
    .debate-panel--opinions
      = render 'opinions/page', debate: @non_gmo_debate


#debate-topic-exemption_range.debate-topic
  %p.debate-topic-title
    GMO완전표시제법 쟁점-3
  %p.debate-topic-subtitle
    GMO 표시 면제 범위는?
  %p.debate-topic-options
    면제하지 말자(0%) vs 0.9%까지 면제
  %p.debate-topic-description
    현재 ‘비의도적 혼입치’는 3%. 유통 과정에서 의도치 않게 GMO가 섞였다고 보고 입혼 비율 3%까지는 표시를 면제해주는 제도.
  .debate-panel.debate-name-exemption_range
    .debate-panel--header
      = render 'opinions/header', debate: @exemption_range_debate
    = render 'opinions/form', debate: @exemption_range_debate
    .debate-panel--opinions
      = render 'opinions/page', debate: @exemption_range_debate
