쟁점1: 단계적 도입이 아닌, 전면적 도입이 필요하다.
%br
찬성 #{@overall_adoption_debate.alpha_count}표 vs 반대 #{@overall_adoption_debate.beta_count}표
%br
= link_to '전면적 도입', choose_alpha_debates_path(slug: :overall_adoption), method: :post
-if alpha_chosen?('overall_adoption')
  전면적 도입 선택
%br
= link_to '단계적 도입', choose_beta_debates_path(slug: :overall_adoption), method: :post
-if beta_chosen?('overall_adoption')
  단적 도입 선택
%br
= link_to '모르겠다', choose_hold_debates_path(slug: :overall_adoption), method: :post

%hr

쟁점2: nonGMO표시
%br
찬성 #{@non_gmo_debate.alpha_count}표 vs 반대 #{@non_gmo_debate.beta_count}표
%br
= link_to '찬성', choose_alpha_debates_path(slug: :non_gmo), method: :post
-if alpha_chosen?('non_gmo')
  전면적 도입 선택
%br
= link_to '반대', choose_beta_debates_path(slug: :non_gmo), method: :post
-if beta_chosen?('non_gmo')
  단적 도입 선택
%br
= link_to '모르겠다', choose_hold_debates_path(slug: :non_gmo), method: :post
