.intro-panel-wrapper
  .intro-panel
    - if browser.device.mobile?
      = image_tag "step3/key-visual-mobile.png", class:"intro-key-visual--mobile"
    - else
      = image_tag "step3/key-visual.png", class:"intro-key-visual"
    %p.description-title-mobile.visible-xs
      TO. 당원 여러분
    .intro-description
      %p.description-title.hidden-xs
        TO. 당원 여러분
      %p.description-content
        오로지 GMO 완전표시제 도입을 목표로 한,
        %br
        국내 최초 온라인 프로젝트 정당
        %br.visible-xs
        %span
          %span.important<>
            ‘나는알아야겠당’ 창당파티
          를
        %br
        %span
          %span.important<>
            %b<> 9월 5일(월), 서울
            %span.hidden-xs<>
              (달력 표시 필수!)
          에서 열 계획입니다!
      %p.description-content
        온오프라인 종횡무진 넘나들며 진행될
        %br.visible-xs
        창당 파티에
        %br.hidden-xs
        꼭 함께 해주셔요!
      %hr.visible-xs.description-content-hr
      .description-content__box
        %p.description-content__box--title
          어머, 이건 꼭 참여해야해 !
        %br.visible-xs
        %p.description-content__box--number1
          1
        %p.description-content__box--body
          ‘창당파티 준비모임’ 참여할 분도 계속 모십니다.
          %br.hidden-xs
          %a(href='mailto:trans@hani.co.kr')
            %span.important<>
              trans@hani.co.kr
          로 연락주세요.

        %br

        %p.description-content__box--number2
          2
        %p.description-content__box--body
          ‘하루에 한 가지씩 알자’ 캠페인을 진행할 당원연락망이
          %span
            %span<>
              = link_to '텔레그램', 'https://telegram.me/gmolabeling', target: '_blank', class: 'important'
            (권장)과
          %span
            %span<>
              = link_to '카카오톡', 'https://open.kakao.com/o/gMwxmtm', target: '_blank', class: 'important'
            에 열었습니다.
          %br.hidden-xs
          프로젝트 진행 상황과 '1) GMO와 GMO완전표시제', '2) 국회 입법과정', '3) 디지털 민주주의에 대한 정보(또는 소식)'을 더 빠르고 가까이에서 전해드릴게요. 자세한 내용은
          %span
            = link_to '게시판 공지', 'http://up.parti.xyz/posts/774', target: '_blank', class: 'important'
          참조해주세요.
