- if chosen?(debate_slug)
  = form_for Opinion.new(debate_slug: debate_slug) do |f|
    = f.hidden_field :debate_slug
    .form-group
      = f.text_field :name, class: 'opinion-name', placeholder: '이름'
    .form-group
      = f.text_area :body, class: 'opinion-body', placeholder: "왜 그렇게 생각하는지 의견을 남겨 주세요."
    .form-group.recaptcha
      .help-block 스팸 방지를 위해 사람인지 확인하는 거야. 아래 체크 박스를 클릭해.
      = hidden_field_tag :hiddenRecaptcha, nil
      .bubble-recaptcha
    = f.submit class: 'opinion-submit btn', value: '등록'
%a{id: "opinion-anchor"}
= render Opinion.in_debate(debate_slug)
