%section#header
  .container.container-xs-space
    .top-menu
      %span
        = link_to '홈', root_path
      %span.pull-right
        - if user_signed_in?
          = link_to '로그아웃', destroy_user_session_path, method: :delete
        - else
          = link_to '당원가입 / 로그인', '#anchor-join'
%section#steps
  .container
    .project-steps
      - if local_assigns[:white]
        = image_tag 'step2/header-menu-white.png', usemap: "#menu-map"
      - else
        = image_tag 'step2/header-menu.png', usemap: "#menu-map"
    %map#menu-map(name="menu-map")
      %area(alt="법안 정하기" title="법안 정하기" href="#{step1_path}" shape="rect" coords="34,50,129,173")
