%section#header
  .container.container-xs-space
    .top-menu
      %span
        = link_to '홈', root_path
      %span.pull-right
        - if user_signed_in?
          = link_to '로그아웃', destroy_user_session_path, method: :delete
        - else
          = link_to '당원가입 / 로그인', root_path(anchor: 'anchor-join')
%section#steps
  .container
    .project-steps
      = image_tag 'header-menu.png', usemap: "#menu-map"
    %map#menu-map(name="menu-map")
      %area(alt="정당 만들기" title="정당 만들기" href="#{root_path}" shape="rect" coords="636,55,728,166")
      %area(alt="정당 만들기" title="정당 만들기" href="#{step1_path}"shape="rect" coords="186,30,565,178")
