%section#header
  .container.container-xs-space
    .top-menu
      %span
        = link_to '홈', root_path
      %span.padding-left
        = link_to '게시판', root_path(anchor: 'post-panel-anchor')
      %span.padding-left
        = link_to '입법진행과정', root_path(anchor: 'anchor-process')
      %span
        - if user_signed_in?
          = link_to '로그아웃', destroy_user_session_path, class: 'pull-right join', method: :delete
        - else
          = link_to '당원가입 / 로그인', root_path(anchor: 'anchor-join'), class: 'pull-right join'
%section#steps
  .container
    .row
      .project-steps
        .col-md-3.col-xs-3
          .project-step1
            =link_to step1_path do
              - if browser.device.mobile?
                법안 정하기
                %br
                6/7 ~ 6/26
              - else
                발의할 법안
                %br.visible-xs
                정하기
                %br
                6/7 ~ 6/26
        .col-md-3.col-xs-3
          .project-step2
            =link_to step2_path do
              - if browser.device.mobile?
                정당 만들기
                %br
                7/4 ~ 7/25
              - else
                프로젝트 정당
                %br.visible-xs
                만들기
                %br
                7/4 ~ 7/25
        .col-md-4.col-xs-3
          .project-step3
            =link_to root_path, class:'active' do
              - if browser.device.mobile?
                쟁점토론
                %br
                7/25 ~ 7/31
              - else
                GMO완전표시제법
                %br.visible-xs
                발의안 쟁점토론
                %br
                7/25 ~ 7/31
        .col-md-2.col-xs-3
          .project-step-after
            =link_to root_path do
              - if browser.device.mobile?
                당원활동
                %br
                (준비중)
              - else
                발의,
                %br.visible-xs
                당원활동
                %br
                (준비중)
