.bill-vote
  .bill-bar-group
    - (bill.upvotes_percentage/100).to_i.times.each do |i|
      .bill-bar
        .bill-voted{style: "width: 100%"}
    - remainder = (bill.upvotes_percentage%100)
    - if remainder > 0
      - remainder_percentage = number_to_percentage(remainder, precision: 0, strip_insignificant_zeros: true)
      - remainder_percentage = '1%' if remainder_percentage == '0%'
      .bill-bar
        .bill-voted{style: "width: #{remainder_percentage}"}
  .row.result.clearfix
    .col-sm-6.person
      %span 목표 2016명,
      %span.count #{bill.upvotes_count}명
      %span.count-label 참여
    .col-sm-6.ratio
      %span.percentage
        #{number_to_percentage(bill.upvotes_percentage, precision: 1, strip_insignificant_zeros: true)}
      %span 달성
  .vote-button
    = link_to upvote_bill_path(slug: bill.slug), method: :post, remote: true, data: { disable_with: "투표 중..." }, class: "btn btn-default #{'disabled' if upvoted?(bill)}" do
      - if upvoted?(bill) or @upvoted
        %i.fa.fa-check
        띄웠어요
      - else
        띄워요
  .parti-link
    - if bill.slug == 'rent_ceiling'
      - bill_name = '전월세 상한제법'
    - elsif bill.slug == 'minimum_wage'
      - bill_name = '최저임금 1만원법'
    - elsif bill.slug == 'date_violence'
      - bill_name = '데이트폭력 처벌강화법'
    - elsif bill.slug == 'gmo_mark'
      - bill_name = 'GMO 완전표시법'
    - else
      - bill_name = ''
    = link_to "http://parti.xyz/p/#{bill.slug}", target: '_blank' do
      '#{bill_name}' 띄우려는 사람, 모두 여기 모여봐!
      %i.fa.fa-external-link
