%section#step2
  %section#nav
    .container
      %ul.nav.nav-pills
        %li
          %a{:href => "#anchor-video"}
            영상 보기
        %li
          %a{:href => "#anchor-naming"}
            1. 이름 짓는 당
        %li
          %a{:href => "#anchor-join"}
            2. 가입한 당
        %li
          %a{:href => "#anchor-bbs"}
            3. 적는 당

  %section#intro
    .container
      .title
        %span.subtitle
          시민 입법 프로젝트
        %h1
          바글시민
          %br<>
          와글입법
  %section#description
    .container
      %h2
        300명이 모인 시민 정당을 만들어
        %br
        2016년, 시민이 올리는 시민의 법안을 만들자!

  %section#video
    %a{id: 'anchor-video'}
    .container
      %h2
        범근뉴스 & 한겨레21이
        %br
        소개하는 시민의 법안 후보
      .bumgun-image
        = image_tag 'bumgun.png'

      %p
        정말 쉽게 설명해주는 범근뉴스,
        %br
        한겨레21 안수찬 편집장의 설명을 들어봐!

      .video-slider
        .item
          .clearfix
            %ul#image-gallery.gallery.list-unstyled.cS-hidden
              - %w(https://www.youtube.com/watch?v=zdtN1zYfiG0 https://youtu.be/fh-uDxgawEU).each_with_index do |video_url, index|
                - video = VideoInfo.new(video_url)
                %li{"data-thumb": video.thumbnail_small}
                  .player
                    %iframe(id="video-#{index}"src="#{video.embed_url}?enablejsapi=1" frameborder="0" allowfullscreen="allowfullscreen")

  %section#naming
    %a{id: 'anchor-naming'}
    .container
      %h2
        1.이름 짓는 당
      %p
        투표 일정 : ..
        %br
        결과 공개 : ..
      = render 'party_names_panel'

  %section#footer
    .container
      %ul.list-inline.logos
        %li
          %a(href='http://h21.hani.co.kr/' target='_blank')
            = image_tag 'hani-logo.png'
        %li
          %a(href='http://parti.xyz/' target='_blank')
            = image_tag 'parti-logo.png'
        %li
          %a(href='https://www.facebook.com/profile.php?id=100001923176001' target='_blank')
            = image_tag 'bumgun-logo.png'
