%section#project-step2.project-step2-home
  = render 'pages/step2_header'

  %section#intro
    .container
      = render 'intro'
  %section#video-navigation
    .container
      .video-thumbnails.clearfix
        - videos_urls.each_with_index do |video_url, index|
          - video = VideoInfo.new(video_url)
          .video-thumbnail{class: ("active" if index == (videos_urls.size - 1)), data: {action: 'video-show', target: "#up-video-#{index}", 'video-group': 'ul.player-wrapper li', 'navigator-group': '.video-thumbnails .video-thumbnail'}}
            %img.img-thumbnail{src: video.thumbnail_small}
            .video-title= video_titles[index]

  %section#naming
    .container
      = render 'party_names_panel'


  %section#quiz
    .container
      .quiz-panel
        =image_tag 'step2/quiz-title.png', class: 'quiz-title'
        .quiz-before-start
          %p.quiz-heading
            얼마나 알고 있을까?
          %p.quiz-subheading
            GMO완전표시제법을 도입하려면,
            %br
            우선 무엇인지 알아야겠지?
          = link_to '퀴즈 시작하기', quiz_path(step: 1), class: 'quiz-start-btn',remote: true

  %section#join
    .container
      %a{id: 'anchor-join'}
      = render 'join_panel'

  %section#notice
    .container
      .notice-panel
        .notice-head
          당원
          %br
          혜택
        .notice-body
          %p
            프로젝트 정당의 당원만이 누릴 수 있는 혜택도 있어.
            %br.hidden-xs
            먼저 프로젝트 진행 상황을 알려주는 소식지를 받아볼 수 있고,
            %br
            %span.important &lt;한겨레21&gt;이 1개월 무료 구독권도 쏜대.

          %p
            또 &lt;한겨레21&gt; 기자와 함께
            %br.hidden-xs
            %span.important 국회 상임위원회 회의나 공청회 등에 취재를 갈 수도 있어.
            %br.hidden-xs
            국회가 시민법안을 어떻게 다루는지
            %br.hidden-xs
            생생하게 목격할 기회지.

          %p
            끝이 아니야.
            %br
            %span.important &lt;한겨레21&gt; 지면을 통해 직접 목소리를 낼 수도 있지.

          %p
            %strong.important
              무엇보다, 우리가 정말 원하는 법안을 할 수 있는 데까지
              %br.hidden-xs
              밀어붙여 보는 경험을 할 수가 있어.

          %p
            이건 시민에게도, 언론에도 온라인 민주주의를 꿈꾸는 IT 개발자에게도 첫 시도야.
            이런 도전에 함께한다는 것만으로도 멋지지 않아?

  %section#posts
    .container
      .section-arrow
        = image_tag 'step2/naming-to-posts.png'
      = render 'posts_panel'

  %section#process
    .container
      .process-panel
        %h3.section-title.background-process 이렇게 진행한다
        - if (browser.device.mobile?)
          = image_tag 'step2/process_mobile.jpg'
        - else
          = image_tag 'step2/process.jpg'

  = render 'pages/step2_footer'
