%section#timeline
  .container
    %p.page-description.hidden-xs
      ‘나는 알아야겠당’은 어떤 과정을 거쳐 왔을까요? 한겨레21의 저널리즘 실험과 온라인 기술 부분을 맡은 빠흐띠의 정치 실험, 그리고 시민들의 참여를 모아 봤습니다. 연말까지 지속적으로 업데이트 됩니다.

    .timeline-panel

      .panel-meta
        .panel-date
          %span.panel-date__year
            2016
          09.06 ~
          %span.timline-circle
        .panel-content.panel-content__first
          %p.panel-content__title
            ‘나는 알아야겠당' 당원 활동 시작
          .panel-content-wrapper
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/society/society_general/42361.html', target: '_blank' do
                  [기사] 밥상 한가운데 GMO
              %br
              유전자변형식품(GMO) 의심 품목·수입업체부터 권장 생활수칙까지 ‘나도 알아야겠다’면 지면 고정! 한눈으로 보는 GMO 체크리스트
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/42285.html', target: '_blank' do
                  [기사] 일주일, 아니 되는 때까지 GMO 끊기
              %br
              풀무농업학교 학생이 예민하게 살피며 실천한 GMO 끊어보기… 도처에 널린 함정과 유혹, 불편하지만 자제는 가능하다
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/society/society_general/42360.html', target: '_blank' do
                  [기사] 우리 장, 같이 하장
              %br
              ‘나는알아야겠당’의 5개 조직 대표들이 말하는… 찾아가장·발굴하장·알리장·외국보장·살림하장

      .panel-meta
        .panel-date
          09.05
          %span.timline-circle
        .panel-content.panel-content__first
          %p.panel-content__title
            ‘나는 알아야겠당’ 오프라인 창당파티
          .panel-content-wrapper
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/42272.html', target: '_blank' do
                  [기사] ‘나는 알아야겠당’ 창당 파티에 초대합니다
              %br
              9월5일 저녁 서울 동교동 ‘미디어카페 후’에서… 새 당원 모집도 계속
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/society/society_general/42359.html', target: '_blank' do
                  [기사] 닻 올린 나는알아야겠당
              %br
              GMO 공부부터 강령·행동수칙 토의·합의까지… ‘나는알아야겠당’ 창당 파티 현장 중계

      .panel-meta
        .panel-date
          08.31
          %span.timline-circle
        .panel-content
          %p.panel-content__title
            4차 발의안 감시, 당원활동
          .panel-content-wrapper
            %p.panel-content__description
              %span.timeline-middot
                ●
              연말까지 발의안의 국회의 심사 과정을 추적한다. 나는 알아야겠당은 GMO 완전표시제법이 통과되거나 올해가 지나면 자동 해산되는 프로젝트 정당이다. 물론 당원의 선택에 따라 바뀔 여지는 남아 있다.
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/42270.html', target: '_blank' do
                  [기사] 김현권 법안이 발의되자 윤소하 의원실은 술렁였다
              %br
              김현권 안 vs 윤소하 안, 서로 몰랐던 GMO완전표시제법 발의의 재구성…
              %br
              비의도적 혼입 기준, 비GMO 표시 대상 등 같지만 다른 두 법안
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/42271.html', target: '_blank' do
                  [기사] 시민 의견은 얼마나 법안이 되었나
              %br
              ‘바글시민 와글입법’의 ‘법안 내용 투표’ 결과 윤소하 의원실에 전달…
              %br
              GMO 표시제 전면 시행, 면제 범위 축소 등 100%는 아니지만 반영돼

      .panel-meta
        .panel-date
          08.20
          %span.timeline-between-date ~
          %br
          %span 08.21
          %span.timline-circle
        .panel-content
          %p.panel-content__title
            창당준비위원회 오프라인 모임

      .panel-meta
        .panel-date
          07.25
          %span.timeline-between-date ~
          %br
          08.10
          %span.timline-circle
        .panel-content
          %p.panel-content__title
            3차 GMO완전표시제법 쟁점토론
          = link_to 'http://up.parti.do/step3', target: 'blank', class: 'timeline-url' do
            %i.fa.fa-external-link
          .panel-content-wrapper
            %p.panel-content__description
              %span.timeline-middot
                ●
              발의할 법안에 대한 세부 쟁점을 전문가 의견과 함께 시민과 당원이 투표와 토론을 시작했다. 온라인 투표를 통해 결정된 내용은 윤소하 의원실(정의당)에 전달되었다. 윤소하 의원실은 알아야겠당의 의견을 포함해 다양한 목소리를 담은 GMO 완전표시제법(식품위생법 개정안)을 8월 16일 발의했다.
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/society/society_general/42109.html', target: '_blank' do
                  [기사] GMO 완전표시제법 당신의 전략은?
              %br
              시행 시기, 비GMO, 표시 면제 범위 등 핵심 쟁점 두고 벌인 토론… 당원 투표 뒤 우세한 의견 8월 초 법안 발의 내용에 반영

      .panel-meta
        .panel-date
          07.04
          %span.timeline-between-date ~
          %br
          07.25
          %span.timline-circle
        .panel-content
          %p.panel-content__title
            2차 프로젝트 정당 만들기
          = link_to 'http://up.parti.do/step2', target: 'blank', class: 'timeline-url' do
            %i.fa.fa-external-link
          .panel-content-wrapper
            %p.panel-content__description
              %span.timeline-middot
                ●
              시민에 의해 정해진 법안 통과를 위해 ‘온라인 프로젝트 정당’을 만들어보는 실험. 시민 입법 프로젝트에 공감하는 사람들과 당의 이름을 정하고 누구나 당원으로 가입해 온라인 공간에서 의견을 얘기하고 정보를 나누기 시작했다.
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/41992.html', target: '_blank' do
                  [기사] 안전한 밥상의 권리를 찾아서
              %br
              시민 투표 결과 가장 많이 꼽힌 ‘GMO 완전표시제법’ 시민의 알 권리와 살 권리를 되찾기 위한 법안 발의 과정 추적 보도 시작
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/41993.html', target: '_blank' do
                  [기사] 세상에 없던 정당의 당원이 되세요
              %br
              GMO 완전표시제법 통과를 위한 국내 최초 온라인 프로젝트 정당 실험
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/41994.html', target: '_blank' do
                  [기사] 식약처는 왜 GMO를 말하지 않나
              %br
              20대 국회 복지위 첫 회의에서 GMO 업무보고 누락… 보건복지부는 통합된 식품표시법 제정 추진해 관련 규정 후퇴 우려

      .panel-meta
        .panel-date
          06.07
          %span.timeline-between-date ~
          %br
          06.20
          %span.timline-circle
        .panel-content
          %p.panel-content__title
            발의할 법안 정하기
          = link_to 'http://up.parti.do/step1', target: 'blank', class: 'timeline-url' do
            %i.fa.fa-external-link
          .panel-content-wrapper
            %p.panel-content__description
              %span.timeline-middot
                ●
              시민이 원하는 법안을 뽑는 투표를 진행했다. 1만여 명이 참가한 투표에서 ‘유전자변형식품(GMO) 완전표시제법’이 가장 많은 표를 얻었다. 이제 이 문제에 관심 있는 국회의원을 통해 법안을 발의하고, 시민과 함께 통과 여부를 지켜보는 프로젝트를 본격적으로 시작했다.
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/41844.html', target: '_blank' do
                  [기사] 함께 밀어올리자 이 법을
              %br
              스마트폰이나 컴퓨터로 온라인 투표 1분이면 충분… 시민의 선택 기다리는 ‘바글시민 와글입법’ 후보 법안
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/society/society_general/41892.html', target: '_blank' do
                  [기사] 지금처럼만 바글거려주시라
              %br
              나흘 만에 약 5350명 투표 참여 (*투표완료 시점엔 1만여명)

      .panel-meta
        .panel-date
          05.10
          %span.timline-circle
        .panel-content.panel-content__last
          %p.panel-content__title
            한겨레21, 빠흐띠 논의 시작
          .panel-content-wrapper
            %p.panel-content__article
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/41843.html', target: '_blank' do
                  [기사] 살아나라 시민정치
              %br
              시민이 원하는 법안이 만들어지기까지…
              %br
              입법의 민낯 추적하는 ‘바글시민 와글입법’ 프로젝트 시작
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/41845.html', target: '_blank' do
                  [기사] 시민을 관객으로 두지 말자
              %br
              공공저널리즘이란 무엇인가…
              %br
              1980년대 말 미국에서 태동한 저널리즘 이론이자 실천 프로젝트, 공동체와 직접 대화하며 의제 발굴
            %p.panel-content__description
              %span.timeline-middot
                ●
              %span.timeline-article
                = link_to 'http://h21.hani.co.kr/arti/cover/cover_general/41843.html', target: '_blank' do
                  [기사] 빠흐띠의 ‘바늘 꽂기 실험’은 성공할까
              %br
              바글시민 와글입법’ 프로젝트의 온라인 기술 총괄 맡은 개발자 협동조합…
              %br
              시민이 원하는 법안 만들기 위한 활동 계획…
              %br
              “모든 방법을 써보겠다”

