%a{id: 'post-form-anchor'}
%p.description
  너의 의견을 남겨줘.
  %br
  법안에 어떤 내용이 담겼으면 하는지,
  %br
  우리 당이 어떻게 활동했으면 좋겠는지 모두 다 괜찮아
  %i !

.post-form
  - if @post.nil?
    - @post = Post.new
  = form_for @post do |f|
    = hidden_field_tag :hiddenRecaptcha, nil, id: 'hiddenRecaptcha'
    = f.hidden_field :board_slug, value: Post::BOARD_SLUG_PARTY_BUILDING
    - if user_signed_in?
      .user-info
        당원
        = current_user.name
    - else
      .row
        .col-xs-6
          .form-group
            = f.text_field :guest_name, class: 'form-control', placeholder: '이름' ,data: {'rule-required': true}
        .col-xs-6
          .form-group
            = f.email_field :guest_email, class: 'form-control' , placeholder: '이메일(선택사항)'
      .help-block
        또는
        %a.login-link(href='#anchor-join') 당원가입
        하거나,
        이미 당원이라면
        %a.login-link(href='#anchor-join') 로그인
        해봐
        %i !
      %hr
    .form-group
      = f.text_field :title, class: 'form-control', placeholder: '제목' , data: {'rule-required': true}
    .form-group
      = f.text_area :body, class: 'form-control', placeholder: '내용' , data: {'rule-required': true}, data: { action: 'parti-autoresize'}
    .row
      .col-sm-8
        - unless user_signed_in?
          .form-group.recaptcha
            .help-block 스팸 방지를 위해 사람인지 확인합니다. 아래 체크 박스를 클릭해 주세요.
            = recaptcha_tags hl: :ko, size: '100px'
      .col-sm-4
        = f.submit '등록', class: 'btn btn-lg btn-block btn-post-submit', data: { disable_with: "게시 중..." }
