%section#project-step2.project-step2-post
  = render 'pages/step2_header', white: true

  %section#posts
    .container
      %a{id: 'post-panel-anchor'}
      .posts-panel
        %h3.section-title 적는 당
        .post-detail
          .post-meta-wrapper.post-title-wrapper
            .row
              .col-sm-2.col-xs-3
                .post-meta-label 제목
              .col-sm-10.col-xs-9
                .post-meta-value= @post.title
          .post-meta-wrapper.post-user-wrapper
            .row
              .col-sm-2.col-xs-3
                .post-meta-label 작성자
              .col-sm-10.col-xs-9
                .post-meta-value
                  = @post.name
                  - if @post.user.present?
                    %span.party-memember-badget 당원
          .post-body
            = simple_format(@post.body)

        .comments-panel
          = render 'comments/new_form', post: @post
          .comments
            = render @post.comments
        .navigation-button
          = link_to root_path(anchor: 'posts-anchor'), class: 'btn btn-default' do
            목록으로

  = render 'pages/step2_footer'
