%section#project-step3.project-step3-post

  = render 'pages/step_header'

  %section#post
    .container
      %a{id: 'post-panel-anchor'}
      .post-panel
        .post-detail
          .post-meta-wrapper.post-title-wrapper
            .row
              .col-sm-2.col-xs-3
                .post-meta-label 제목
              .col-sm-10.col-xs-9
                .post-meta-value= @post.title
          .post-meta-wrapper.post-user-wrapper
            .row
              .col-sm-2.col-xs-3
                .post-meta-label 작성자
              .col-sm-10.col-xs-9
                .post-meta-value
                  = mask_name @post.name
                  - if @post.user.present?
                    %span.party-memember-badget 당원
          - if can?(:manage, @post) or can?(:stick, @post)
            .post-buttons
              - if can?(:manage, @post)
                %span
                  = link_to '수정', [:edit, @post]
                \|
                %span
                  = link_to '삭제', @post, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
              - if can?(:manage, @post) and can?(:stick, @post)
                \|
              - if can?(:stick, @post)
                - if @post.sticky?
                  %span
                    = link_to '고정취소', [:unstick, @post], method: :post
                - else
                  %span
                    = link_to '상단고정', [:stick, @post], method: :post

          .post-body
            = simple_format(@post.body)

          .post-upvote
            - if @post.upvoted_by?(current_user)
              = link_to unvote_post_path(@post), class: "btn btn-default btn-upvoted", method: :post do
                %i.fa.fa-thumbs-o-up
                %i.fa.fa-ban
                = @post.upvotes_count
            - else
              = link_to upvote_post_path(@post), class: "btn btn-default", method: :post do
                %i.fa.fa-thumbs-o-up
                - if @post.upvotes.any?
                  = @post.upvotes_count
                - else
                  추천
        .comments-panel
          - if @post.comments.empty?
            %hr
            %p.help-block
              %i.fa.fa-comment-o.fa-flip-horizontal
              처음으로 댓글을 남겨보세요
              %i !
          - else
            .comments
              = render @post.comments.earlier
          = render 'comments/form', post: @post
        .navigation-button
          = link_to root_path(board_slug: @post.board_slug, anchor: 'posts-anchor'), class: 'btn btn-default' do
            목록으로

  = render 'pages/step3_footer'
