%section#post
  .container
    - if can? :update, @post
      = link_to '수정', [:edit, @post]
    - if can? :destroy, @post
      = link_to '삭제', @post, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }

    = @post.title
    = @post.body
    = date_f @post.created_at
    = @post.name
    - unless user_signed_in?
      .login-form
        = link_to '페이스북 아이디로 로그인', user_omniauth_authorize_path(provider: :facebook)
        = link_to '트위터 아이디로 로그인', user_omniauth_authorize_path(provider: :twitter)
        = link_to '네이버 아이디로 로그인', user_omniauth_authorize_path(provider: :naver)
    = render 'comments/form', post: @post
    .comment-list
      %h4
        댓글목록
      - @post.comments.recent.each do |comment|
        .comment
          = comment.name
          = comment.body
          = comment.created_at
          - if can? :update, comment
            = link_to '수정', [:edit, comment]
          - if can? :destroy, comment
            = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }

