%footer.footer
  .container
    - logos_block = capture do
      .logos
        .logo.logo-han21
          %a(href="http://h21.hani.co.kr/" target="_blank")
            = image_tag 'logo_han21.png'
        .logo.logo-parti
          %a(href="http://parti.xyz" target="_blank")
            = image_tag 'logo_parti.png'
    .hidden-xs
      = logos_block
    .info
      .agreement
        %span.privacy
          = link_to '개인정보취급방침', privacy_path
        %span.user-agreement
          = link_to '이용약관', user_agreement_path
      .contact
        = link_to 'mailto:trans@hani.co.kr' do
          문의하기
          %span.url trans@hani.co.kr
      .shares
        %ul.share-box.list-inline
          - base_data = {action: 'bubble-share', 'share-url': root_url, 'share-text': meta_tags['description'] }
          - %w(facebook twitter kakao-link kakao-story).each do |provider|

            - data = base_data.merge('share-provider': provider)

            - if provider == 'kakao-link'
              - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
              - data = data.merge('share-image': meta_tags['image'], 'share-image-width': '1200', 'share-image-height': '630')
            - if provider == 'twitter'
              - data = data.merge('share-text': "#GMO완전표시제 입법을 위한 프로젝트 정당, #나는알아야겠당 http://up.parti.xyz - #바글시민와글입법 - 한겨레21x빠띠 @han21_editor @parti_xyz", 'share-logo': image_url('footer_share_twitter.png'))
            - if provider == 'facebook'
              - data = data.merge('share-logo': image_url('footer_share_facebook.png'))
            %li.share-item{class: "share-#{provider}#{hide_kakao_link}", data: data }
              - if provider == 'kakao-story'
                .jssocials-shares
                  .jssocials-share
                    = image_tag 'footer_share_kakaostory.png', class: 'jssocials-share-logo'
              - if provider == 'kakao-link'
                .jssocials-shares
                  .jssocials-share
                    = image_tag 'footer_share_kakaotalk.png', class: 'jssocials-share-logo'
    .visible-xs-block
      = logos_block
