%section#header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand{href: root_path}
          = image_tag 'logo.png'

      %ul.nav.navbar-nav.navbar-right
        %li.normal
          = link_to '당소개'
        %li.normal
          = link_to '타임라인'
        %li.normal
          = link_to '발의안', propositions_path
        %li.normal
          = link_to '쟁점토론', debates_path
        %li.normal
          = link_to '게시판', posts_path
        %li.parti
          = link_to 'Parti', 'http://do.parti.xyz', target: '_blank'
        %li.login
          = link_to '당원가입 / 로그인'

      .receive-news
        %span.plus +
        %span 소식받기


