%section#header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand{href: root_path}
          - if browser.device.mobile?
            = image_tag 'logo_xs.png'
          - else
            = image_tag 'logo.png'
        %button.navbar-toggle.collapsed{"data-target": "#main-menu", "data-toggle": "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %button.navbar-toggle.collapsed.parties-collapse{"data-target": "#parties-menu", "data-toggle": "collapse", type: "button"}
          빠띠
          %b.caret
      #main-menu.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.menu{class: ('active' if current_page?(controller: '/pages', action: :about))}
            = link_to '당소개', about_path
          %li.menu{class: ('active' if current_page?(controller: '/pages', action: :timeline))}
            = link_to '타임라인', timeline_path
          %li.menu{class: ('active' if controller_name == 'propositions')}
            = link_to '발의안', propositions_path
          %li.menu{class: ('active' if controller_name == 'debates')}
            = link_to '쟁점토론', debates_path
          %li.menu.collapse-hidden
            %ul.nav.navbar-nav.collapse-hidden
              %li.dropdown.parties-dropdown
                %a.btn.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
                  빠띠
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a(href="http://do.parti.xyz/" target='_blank') 모든 빠띠
                  - all_parties.each do |parti|
                    %li
                      %a(href="http://do.parti.xyz/p/#{parti[:slug]}" target='_blank') #{parti[:name]}
          - if user_signed_in?
            %li.dropdown.login.collapse-hidden
              %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
                = truncate current_user.name, length: 12
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to '내 당원증', join_path
                %li
                  = link_to '로그아웃', destroy_user_session_path, method: :delete
            %li.divider.uncollapse-hidden
            %li.menu.uncollapse-hidden= link_to "#{truncate current_user.name, length: 12} 당원증", join_path
            %li.menu.uncollapse-hidden= link_to '로그아웃', destroy_user_session_path, method: :delete
          - else
            %li.login
              = link_to '당원가입 / 로그인', join_path
      #parties-menu.navbar-collapse.uncollapse-hidden.collapse
        %ul.nav.navbar-nav
          %li.menu
            %a(href="http://do.parti.xyz/" target='_blank') 모든 빠띠
          - all_parties.each do |parti|
            %li.menu
              %a(href="http://do.parti.xyz/p/#{parti[:slug]}" target='_blank') #{parti[:name]}

  .receive-news{data: {'action': 'bubble-channel', 'trigger': (is_hoverable? ? 'hover' : 'click')}}
    .receive-news__off
      .receive-news__button
        = image_tag 'news_plus.png'
      .receive-news__channels
        대화방 입장
    .receive-news__on
      .receive-news__button
        = image_tag 'news_close.png'
      .receive-news__channels
        .receive-news__channel
          %a(href='https://telegram.me/gmolabeling' target='_blank')
            = image_tag('telegram_news.png')
        .receive-news__channel
          %a(href='https://open.kakao.com/o/gMwxmtm' target='_blank')
            = image_tag('kakaotalk_news.png')
